header(class="header")
	div(class="header__brand")
		a(class="brand__title" href="#") Eco-Store
	nav(class="header__menu")
		ul(class="menu__list")
			li(class="list__item")
				a(class="item__link" href="#" title="User profile")
					include ../icons/user-profile.svg
			li(class="list__item")
				a(class="item__link" href="#" title="Favorites")
					include ../icons/favorites.svg
			li(class="list__item" href="#" title="Shopping cart")
				a(class="item__link")
					include ../icons/shopping-cart.svg
