section(class="hero")
	section(class="hero__info")
		div(class="info__message")
			h1(class="message__title") Impacto Ecológico
			p(class="message__description")
				| Debido al impacto ambiental siendo las acciones
				| humanas las que modifican el ambiente, Eco-Store
				| se compromete a elaborar sus productos de manera
				| artesanal y con materiales que favorecen al cuidado
				| del medio ambiente
		div(class="info__cta")
			a(href="#" class="cta__button") Conoce más
	div(class="hero__image")
		img(src="./assets/img/hero-img.png", alt="Eco-Store products" title="Eco-Store products")
